  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Home</title>
  </head>
  <body>
    <div class="floating-objects">
      <div>😀</div>
      <div>😁</div>
      <div>😂</div>
      <div>🤣</div>
      <div>😃</div>
      <div>😄</div>
      <div>😅</div>
      <div>😆</div>
      <div>😉</div>
      <div>😊</div>
      <div>😋</div>
      <div>😎</div>
      <div>😍</div>
      <div>😘</div>
     </div>
    <div class="home">
      <h1 style="color: darkblue; font-size: 48px;">Ready to vibe and level up</h1>
      <p style="color: rgb(164, 187, 164); font-size: 24px;">Start slayin' those brain cells today! 😎</p>
      <div class="button-group">
        <button class="learn-now" onclick="window.location.href='/chat'">Get started</button>
        <button class="more">More about us</button>
      </div>
    </div>
  </body>
  </html>
