<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/input.css">
  <link rel="stylesheet" href="../static/level.css">
  <link rel="stylesheet" href="../static/flashcards.css">
  <link rel="stylesheet" href="../static/quiz.css">
  <title>Input</title>
</head>
<body>
  <!-- Logo linking back to home.html -->
  <div class="logo">
    <a  href="home.html">
      <h2>Logo</h2>
    </a>
  </div>

  <div class="chat-list">
  <header class="header">
    
    <!-- Header Greetings -->
    <h1 class="title">Suuuh</h1>
    <p class="subtitle">What you tryna learn?</p>
  </header>

  <div class="delete-storage">
    <p class="title">Do you want to continue your old conversation, or learn something new?</p>
    <button class="new-convo">Learn something new</button>
    <button class="continue-convo">Continue the previous topic</button>
  </div>
  <!-- Chat List / Container -->
  

    <div id="components-container"></div>
</div>
<!-- Button to create Flash Cards, Quiz -->

  <!-- Typing Area -->


  <ul class="suggestion-list">
    <li class="suggestion">
        <h4 class="text">Create Flashcards</h4>
        <!-- <span class="icon material-symbols-rounded">draw</span> -->
    </li>
    <li class="suggestion">
        <h4 class="text">Create Quiz</h4>
        <!-- <span class="icon material-symbols-rounded">lightbulb</span> -->
    </li>

</ul>

  <div class="typing-area">
    <form action="#" class="typing-form">
      <div class="input-wrapper">
        <input type="text" placeholder="Enter a prompt here" class="typing-input" required />
        <button id="send-message-button" class="icon material-symbols-rounded">send</button>
      </div>
      <div class="action-buttons">
        <span id="theme-toggle-button" class="icon material-symbols-rounded">light_mode</span>
        <span id="delete-chat-button" class="icon material-symbols-rounded">delete</span>
      </div>
    </form>
  </div>
  
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:wght@400&family=Material+Symbols+Outlined:wght@400&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>  
  <script src="../static/level.js"></script>
  <script src="../static/flashcards.js"></script>
  <script src="../static/quiz.js"></script>
  <script src="../static/input.js"></script>


</body>
</html>
