<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/level.css">
  <title>Level</title>
</head>
<body>
  <div class="level-container">
    <h1>How much ya know big boi</h1>
    <div class="button-boxes">
      <button class="selectable-button" id="option1">Option 1</button>
      <button class="selectable-button" id="option2">Option 2</button>
      <button class="selectable-button" id="option3">Option 3</button>
      <button class="selectable-button" id="option4">Option 4</button>
    </div>
  </div>
</body>
</html>
