<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/main.css">
  <link rel="stylesheet" href="../static/quiz.css">
  <title>Quiz</title>
</head>
<body>
  <div class="container" id="quiz-container">
    <div class="exit" id="exit-btn">X</div>
    <div id="quiz"></div>
    <button id="newQuizBtn" class="new-quiz-button">Load New Quiz</button>
  </div>

  <script>
    document.getElementById('exit-btn').addEventListener('click', function() {
     document.getElementById('quiz-container').style.display = 'none';
 });
</script>
  <script src="../static/quiz.js"></script>
</body>
</html>
