<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/team.css">
  <title>Our Team</title>
</head>
<body>
  <div class="logo" style="position: absolute; top: 0; left: 10px; margin: 10px;">
    <a href="home.html">
      <h2>Logo</h2>
    </a>
  </div>
  <div class="container">
    <h1 style="color: white;">Our Team</h1>
    <div class="row">
      <div class="card" style="--bc: #8E9792;--btn: #8E9792;">
        <img src="#" alt="*">
        <h2>Maaz</h2>
        <p class="role">Project Manager</p>
        <p>maazzubair999@gmail.com</p>
        <a href="https://www.linkedin.com/in/maaz-zubair-035838252/" target="_blank">LinkedIn</a>
      </div>
      <div class="card" style="--bc: #C89F9C;--btn: #C89F9C;">
        <img src="#" alt="*">
        <h2>Kevin</h2>
        <p class="role">Backend</p>
        <p>@mail.com</p>
        <a href="tel:+880123456789">LinkedIn</a>
      </div>
      <div class="card" style="--bc: #15307D;--btn: #15307D;">
        <img src="#" alt="*">
        <h2>Yoshi</h2>
        <p class="role">Frontend</p>
        <p>thara@uic.edu</p>
        <a href="https://www.linkedin.com/in/tharayama/" target="_blank">LinkedIn</a>
      </div>
      <div class="card" style="--bc: #15307D;--btn: #15307D;">
        <img src="#" alt="*">
        <h2>Krishna</h2>
        <p class="role">Frontend</p>
        <p>ksomar3@uic.edu</p>
        <a href="https://www.linkedin.com/in/krishna-pratheek-somarapu-ab6b99264/" target="_blank">LinkedIn</a>
      </div>
    </div>
  </div>
</body>
</html>
