<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/team.css">
  <title>Our Team</title>
</head>
<div>
  <div class="logo">
    <a  href="/">
      <img src="../static/assets/LetMeCook.png" alt="Logo">
    </a>
  </div>
<body>
  <!-- <div class="logo" style="position: absolute; top: 0; left: 10px; margin: 10px;"> -->
        <!-- <div class="logo">
          <a  href="home.html">
            <img src="../static/assets/LetMeCook.png" alt="Logo">
          </a>
        </div> -->
      <!-- </div> -->
      <div class="container">
        <h1 style="color: white;">Our Team</h1>
        <div class="row">
          <div class="card" style="--bc: #8E9792;--btn: #8E9792;">
            <img src="#" alt="*">
            <h2>Maaz</h2>
            <p class="role">Project Manager</p>
            <p>@mail.com</p>
            <a href="tel:+880123456789">LinkedIn</a>
          </div>
          <div class="card" style="--bc: #C89F9C;--btn: #C89F9C;">
            <img src="#" alt="*">
            <h2>Kevin</h2>
            <p class="role">Backend</p>
            <p>@mail.com</p>
            <a href="tel:+880123456789">LinkedIn</a>
          </div>
          <div class="card" style="--bc: #15307D;--btn: #15307D;">
            <img src="#" alt="*">
            <h2>Yoshi</h2>
            <p class="role">Frontend</p>
            <p>@mail.com</p>
            <a href="tel:+880123456789">LinkedIn</a>
          </div>
          <div class="card" style="--bc: #15307D;--btn: #15307D;">
            <img src="#" alt="*">
            <h2>Krishna</h2>
            <p class="role">Frontend</p>
            <p>@mail.com</p>
            <a href="tel:+880123456789">LinkedIn</a>
          </div>
        </div>
      </div>
    </body>
  </div>
</html>
