<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Include common styles first, then component-specific -->
  <link rel="stylesheet" href="../static/main.css">
  <link rel="stylesheet" href="../static/topic.css">
  <title>Topic</title>
</head>
<body>
  <div class="container" id="topic-container">
    <h1>Whatchu tryna learn?</h1>
    <p class="subtitle">Write your question in the box below</p>
    <form action="#" class="typing-form" id="topic-form">
        <div class="input-wrapper">
            <input type="text" placeholder="Enter your question here" class="typing-input" required />
            <button id="send-message-button" class="icon material-symbols-rounded">send</button>
        </div>
    </form>
    
  </div>

  <script src="../static/topic.js"></script>
</body>
</html>
